.popup__input {
  width: 358px;
  height: 14px;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  margin: 0 0 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 12px;
}

@media screen and (max-width: 576px) {
  .popup__input {
    width: 238px;
  }
}